<div class="sheet__section sheet__section--pending">
  @for (item of items; track item.id) {
    @if (!item.is_completed) {
      <div>
        <app-item [id]="item.id.toString()" [label]="item.name" [isComplete]="item.is_completed" (OnChecked)="onChecked(item.id)"></app-item>
      </div>
    }
  }
</div>

<h2>Complete</h2>
<div class="sheet__section sheet__section--complete">
  @for (item of items; track item.id) {
    @if (item.is_completed) {
      <div>
        <app-item [id]="item.id.toString()" [label]="item.name" [isComplete]="item.is_completed"></app-item>
      </div>
    }
  }
</div>